services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Shared\Infrastructure\Middleware\DoctrineFlushMiddleware:
        public: true
        arguments: ['@doctrine.orm.entity_manager']

    tactician.middleware.flush:
        alias: App\Shared\Infrastructure\Middleware\DoctrineFlushMiddleware
        public: true

    _instanceof:
        App\Shared\Domain\Bus\Query\QueryHandler:
            tags: [{ name: tactician.handler, typehints: true, bus: default }]
        App\Shared\Domain\Bus\Command\CommandHandler:
            tags: [{ name: tactician.handler, typehints: true, bus: default }]

    App\:
        resource: '../src/'
        exclude:
            - '../src/Shared/Infrastructure/Middleware/DoctrineFlushMiddleware.php'
            - '../src/Shared/Domain/Event/EventPublisher.php'
            - '../src/Shared/Infrastructure/Messenger/TacticianCommandDispatcher.php'

    App\Shared\Infrastructure\Messenger\TacticianCommandDispatcher:
        public: true
        tags:
            - { name: 'messenger.message_handler', bus: 'async' }

    App\Shared\Domain\Event\EventPublisher:
        public: true
        arguments:
            $subscribers: !tagged_iterator app.event_subscriber

    App\Shared\Domain\Event\EventPublisherInterface:
        alias: App\Shared\Domain\Event\EventPublisher
        public: true

    App\Casfid\Scraper\Infrastructure\Source\Subscribers\:
        resource: '../src/Casfid/Scraper/Infrastructure/Source/Subscribers/*'
        tags: [ 'app.event_subscriber' ]

    App\Casfid\Scraper\Infrastructure\Scraper\SourceScraper\:
        resource: '../src/Casfid/Scraper/Infrastructure/Scraper/SourceScraper/*'
        exclude: '../src/Casfid/Scraper/Infrastructure/Scraper/SourceScraper/SourceScraperInterface.php'
        tags: ['app.source_scraper']

    App\Casfid\Scraper\Infrastructure\Scraper\NewsScraper\:
        resource: '../src/Casfid/Scraper/Infrastructure/Scraper/NewsScraper/*'
        tags: ['app.news_scraper']

    App\Casfid\Scraper\Domain\Source\Services\SourceFactory:
        arguments:
            $scrapers: !tagged_iterator app.source_scraper

    App\Casfid\Scraper\Domain\News\Services\NewsScraperFactory:
        arguments:
            $scrapers: !tagged_iterator app.news_scraper
